@charset "UTF-8";
* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  list-style: none;
}

/*variables*/
/*home*/
body {
  overflow: auto;
  overflow-x: hidden;
}

header .desktop {
  height: 15%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0E0B16;
  transition: all 0.5s ease;
}
header .desktop .logo {
  display: flex;
  align-items: center;
  margin: 70px;
}
header .desktop .navbar-desktop {
  display: flex;
}
header .desktop .navbar-desktop a {
  font-size: 1.1rem;
  font-weight: 400;
  padding: 5px 0;
  margin: 0 30px;
  color: #00FF88;
  transition: all 0.5s ease;
  text-decoration: none;
}
header .desktop .navbar-desktop a:hover {
  color: #660F8D;
  font-weight: 600;
}
header .desktop .navbar-desktop a .active {
  color: #660F8D;
  font-weight: 800;
}
header .desktop .contenedor-contacto {
  border-radius: 20px;
  border: solid #00FF88;
  background-color: #0E0B16;
  height: 33%;
  width: 14%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px;
}
header .desktop .contenedor-contacto:hover {
  background-color: #660F8D;
}
header .desktop .contenedor-contacto .boton-contacto {
  margin: 70px;
  font-size: 1.1rem;
  font-weight: 900;
  color: #00FF88;
  text-decoration: none;
}
header .desktop .contenedor-contacto .boton-contacto:hover {
  color: #00FF88;
}

.navbar {
  display: flex;
}
.navbar .container-fluid .fixed-top {
  height: 12%;
}
.navbar .container-fluid a {
  text-decoration: none;
}
.navbar .container-fluid .navbar-togler {
  border: red;
  margin-right: 45px;
}
.navbar .container-fluid .offcanvas .offcanvas-body .justify-content-end .nav-item .nav-link {
  font-size: 1.1rem;
  font-weight: 400;
  padding: 5px 0;
  margin: 0 30px;
  color: #00FF88;
  transition: all 0.5s ease;
  text-decoration: none;
}
.navbar .container-fluid .offcanvas .offcanvas-body .contenedor-contacto {
  border-radius: 20px;
  border: solid #00FF88;
  background-color: #0E0B16;
  height: 10%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px;
}
.navbar .container-fluid .offcanvas .offcanvas-body .contenedor-contacto:hover {
  background-color: #660F8D;
}
.navbar .container-fluid .offcanvas .offcanvas-body .contenedor-contacto .boton-contacto {
  margin: 70px;
  font-size: 1.1rem;
  font-weight: 900;
  color: #00FF88;
  text-decoration: none;
}
.navbar .container-fluid .offcanvas .offcanvas-body .contenedor-contacto .boton-contacto:hover {
  color: #00FF88;
}
.navbar .container-fluid a {
  font-size: 1.1rem;
  font-weight: 400;
  padding: 5px 0;
  margin: 0 30px;
  color: #00FF88;
  transition: all 0.5s ease;
  text-decoration: none;
}
.navbar .container-fluid a:hover {
  color: #660F8D;
  font-weight: 600;
}
.navbar .container-fluid a a.active {
  color: #660F8D;
  font-weight: 800;
}

main #presentacion {
  display: grid;
  align-items: center;
  grid-template-columns: 50% 50%;
  height: 100vh;
  width: 100%;
  background-color: #0E0B16;
}
main #presentacion .txt-presentacion {
  margin-left: 20%;
  width: 100%;
}
main #presentacion .txt-presentacion .h1-presentacion {
  font-size: 70px;
  color: #660F8D;
  font-weight: 900;
  animation-duration: 1.5s;
  animation-name: aparecer-texto1;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}
main #presentacion .txt-presentacion .h2-presentacion {
  font-size: 30px;
  color: #00FF88;
  font-weight: 500;
  animation-duration: 3s;
  animation-name: aparecer-texto2;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}

@keyframes aparecer-texto1 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@keyframes aparecer-texto2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*foto que no esta más por decision estetica*/
main #banner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 400px;
  background-image: url(../imagenes/banner.png);
  background-size: auto;
}
main #banner .contenedor-boton-banner {
  border-radius: 20px;
  border: solid #00FF88;
  background-color: #0E0B16;
  height: 15%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 70px;
}
main #banner .contenedor-boton-banner .boton-contacto {
  margin: 70px;
  font-size: 1.1rem;
  font-weight: 900;
  color: #00FF88;
  text-decoration: none;
}
main #banner .contenedor-boton-banner .boton-contacto:hover {
  color: #00FF88;
}

main #trabajos-destacados {
  width: 100%;
  height: 100vh;
  background-color: #0E0B16;
  display: grid;
  align-content: space-evenly;
}
main #trabajos-destacados h1.proyectos_destacados {
  font-size: 30px;
  color: #660F8D;
  margin-left: 70px;
  margin-top: 80px;
  font-weight: 700;
}
main #trabajos-destacados .img_proyectos {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
main #trabajos-destacados .img_proyectos .contenedor-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
}
main #trabajos-destacados .img_proyectos .contenedor-img img:hover {
  transform: scale(1.2, 1.2);
}
main #trabajos-destacados .img_proyectos .contenedor-img .boton-vermas {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #660F8D;
  background-color: #00FF88;
  border-radius: 20px;
  height: 30px;
  width: 200px;
}
main #trabajos-destacados .img_proyectos .contenedor-img .boton-vermas a {
  text-decoration: none;
  color: #660F8D;
  font-weight: 600;
}
main #trabajos-destacados .img_proyectos .contenedor-img .boton-vermas a:hover {
  color: #00FF88;
}
main #trabajos-destacados .img_proyectos .contenedor-img .boton-vermas:hover {
  background-color: #660F8D;
}

footer {
  height: 200px;
  width: 100%;
  background: rgb(14, 11, 22);
  background: linear-gradient(180deg, rgb(14, 11, 22) 12%, rgb(115, 16, 158) 100%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-content: center;
}
footer .telefono {
  display: flex;
  align-items: self-end;
  justify-content: space-evenly;
  width: 40%;
}
footer .telefono h4.num-tel {
  color: #00FF88;
  font-size: 16px;
  font-weight: 600;
}
footer .telefono .icon-footer {
  width: 30px;
  height: 30px;
}
footer .iconos {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer .iconos .icon-footer {
  width: 30px;
  height: 30px;
}
footer .input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 70px;
}
footer .input-group .input {
  min-height: 50px;
  max-width: 150px;
  padding: 0 1rem;
  color: #fff;
  font-size: 15px;
  border: 1px solid #00FF88;
  border-radius: 6px 0 0 6px;
  background-color: transparent;
}
footer .input-group .button--submit {
  min-height: 50px;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: #00FF88;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}
footer .input-group .button--submit:hover {
  background-color: #0E0B16;
}

/*seccion servicio*/
#main-servicios {
  width: 100%;
  height: 120vh;
  background-color: #0E0B16;
}
#main-servicios .contenedor-mayor-icons {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#main-servicios .contenedor-mayor-icons .proyectos_destacados {
  font-size: 30px;
  color: #660F8D;
  margin-left: 70px;
  margin-top: 80px;
  font-weight: 700;
}
#main-servicios .contenedor-mayor-icons .contenedor-icon-serv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}
#main-servicios .contenedor-mayor-icons .contenedor-icon-serv .icon-servicios {
  text-align: center;
}
#main-servicios .contenedor-mayor-icons .contenedor-icon-serv .icon-servicios .h3-servicios {
  color: #00FF88;
  margin-top: 10px;
}
#main-servicios .contenedor-mayor-icons .contenedor-icon-serv .icon-servicios .p-serv {
  color: white;
  max-width: 200px;
  margin-top: 10px;
}

/*seccion sobre mi*/
.main-sobremi {
  height: 150vh;
  background-color: #0E0B16;
}
.main-sobremi .sobremi-presentacion {
  height: 50vh;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.main-sobremi .sobremi-presentacion .proyectos_destacados {
  font-size: 30px;
  color: #660F8D;
  margin-left: 70px;
  margin-top: 80px;
  font-weight: 700;
}
.main-sobremi .sobremi-presentacion .txt-presentacion-sobremi {
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 30px;
  max-width: 600px;
  color: white;
}
.main-sobremi .educacion-habilidades {
  height: 100vh;
  display: flex;
  margin-left: 70px;
  margin-right: 70px;
}
.main-sobremi .educacion-habilidades .educacion {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.main-sobremi .educacion-habilidades .educacion .titulos-sobremi {
  font-size: 30px;
  color: #660F8D;
  font-weight: 700;
  margin-top: 30px;
}
.main-sobremi .educacion-habilidades .educacion .años {
  color: #00FF88;
  font-weight: 500;
  margin-top: 20px;
  font-size: 1.5rem;
}
.main-sobremi .educacion-habilidades .educacion .colegio {
  color: white;
  margin-top: 10px;
  font-size: 1.2rem;
}
.main-sobremi .educacion-habilidades .habilidades {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.main-sobremi .educacion-habilidades .habilidades .titulos-sobremi {
  font-size: 30px;
  color: #660F8D;
  font-weight: 700;
  margin-top: 30px;
}
.main-sobremi .educacion-habilidades .habilidades .contenedor-mayor-skils {
  display: flex;
  flex-direction: column;
}
.main-sobremi .educacion-habilidades .habilidades .contenedor-mayor-skils .contenedor-skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 25px;
}

/*seccion contacto*/
.main-contacto {
  display: grid;
  width: 100%;
  height: 100vh;
  background-color: #0E0B16;
  overflow: auto;
}
.main-contacto .t-contacto {
  font-size: 30px;
  color: #660F8D;
  margin-left: 70px;
  margin-top: 110px;
  font-weight: 700;
}
.main-contacto .contenedor-flex {
  display: flex;
  margin-top: 30px;
}
.main-contacto .contenedor-flex p {
  color: #fff;
  max-width: 420px;
  margin-left: 70px;
  font-size: 1.2rem;
}
.main-contacto .contenedor-flex .formulario {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0px;
  margin-top: 0px;
  width: 500px;
}
.main-contacto .contenedor-flex .formulario .form {
  display: flex;
  flex-direction: column;
}
.main-contacto .contenedor-flex .formulario .form input.campo {
  width: 500px;
  height: 100px;
  border-radius: 20px;
  background-color: #660F8D;
  opacity: 0.5;
  border-color: #0E0B16;
  color: white;
  font-size: 1.5rem;
  padding-left: 15px;
}
.main-contacto .contenedor-flex .formulario .form textarea.campo {
  width: 500px;
  height: 300px;
  border-radius: 20px;
  background-color: #660F8D;
  opacity: 0.5;
  border-color: #0E0B16;
  color: white;
  font-size: 1.5rem;
  padding-left: 15px;
}
.main-contacto .contenedor-flex .formulario .boton-enviar {
  display: flex;
  justify-content: flex-end;
  width: 630px;
  margin-top: 20px;
}
.main-contacto .contenedor-flex .formulario .boton-enviar button {
  padding: 17px 40px;
  border-radius: 20px;
  border: 0;
  background-color: #00FF88;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
  max-width: 150px;
  display: flex;
}
.main-contacto .contenedor-flex .formulario .boton-enviar button:hover {
  letter-spacing: 3px;
  background-color: #660F8D;
  color: #00FF88;
}

a .nav-link:active {
  color: #660F8D;
}

.navbar {
  background-color: #0E0B16 !important;
  display: none;
}

nav #mobile {
  background-color: #00FF88;
}

.navbar-toggler {
  color: transparent;
  background-color: #660F8D;
}

.offcanvas {
  background-color: rgba(14, 11, 22, 0.7607843137);
}

/*seccion proyectos*/
.main-proyectos {
  height: 500vh;
  background-color: #0E0B16;
  width: 100%;
}
.main-proyectos .proyect1 {
  height: 100vh;
  margin-left: 70px;
  margin-right: 70px;
}
.main-proyectos .proyect1 .proyectos_destacados {
  font-size: 30px;
  color: #660F8D;
  padding-top: 140px;
  font-weight: 700;
}
.main-proyectos .proyect1 .titulos-de-proyectos {
  color: #00FF88;
  font-weight: 500;
  padding-top: 50px;
}
.main-proyectos .proyect1 p {
  color: white;
  max-width: 420px;
  padding-top: 20px;
}
.main-proyectos .proyect1 .imagenes-proyectos {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
.main-proyectos .proyect1 .imagenes-proyectos img {
  border-radius: 20px;
}
.main-proyectos .proyect2 {
  height: 100vh;
  margin-left: 70px;
  margin-right: 70px;
}
.main-proyectos .proyect2 .titulos-de-proyectos {
  color: #00FF88;
  font-weight: 500;
  padding-top: 100px;
}
.main-proyectos .proyect2 p {
  color: white;
  max-width: 420px;
  padding-top: 20px;
}
.main-proyectos .proyect2 .imagenes-proyectos {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
.main-proyectos .proyect2 .imagenes-proyectos img {
  border-radius: 20px;
}
.main-proyectos .proyect3 {
  height: 100vh;
  margin-left: 70px;
  margin-right: 70px;
}
.main-proyectos .proyect3 .titulos-de-proyectos {
  color: #00FF88;
  font-weight: 500;
}
.main-proyectos .proyect3 p {
  color: white;
  max-width: 420px;
  padding-top: 20px;
}
.main-proyectos .proyect3 .imagenes-proyectos {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
.main-proyectos .proyect3 .imagenes-proyectos img {
  border-radius: 20px;
}
.main-proyectos .proyect4 {
  height: 100vh;
  margin-left: 70px;
  margin-right: 70px;
}
.main-proyectos .proyect4 .titulos-de-proyectos {
  color: #00FF88;
  font-weight: 500;
}
.main-proyectos .proyect4 p {
  color: white;
  max-width: 420px;
  padding-top: 20px;
}
.main-proyectos .proyect4 .imagenes-proyectos {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
.main-proyectos .proyect4 .imagenes-proyectos img {
  border-radius: 20px;
}
.main-proyectos .proyect5 {
  height: 100vh;
  margin-left: 70px;
  margin-right: 70px;
}
.main-proyectos .proyect5 .titulos-de-proyectos {
  color: #00FF88;
  font-weight: 500;
}
.main-proyectos .proyect5 p {
  color: white;
  max-width: 420px;
  padding-top: 20px;
}
.main-proyectos .proyect5 .imagenes-proyectos {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
.main-proyectos .proyect5 .imagenes-proyectos img {
  border-radius: 20px;
}

@media (max-width: 927px) {
  .desktop a {
    font-size: 0.85rem;
  }
}
@media (max-width: 870px) {
  header {
    display: none;
  }
  .navbar {
    display: block;
  }
  .navbar a {
    font-size: 0.8rem;
  }
  .boton-contacto {
    font-size: 0.9rem;
  }
  .h1 {
    font-size: 55px;
  }
  h2 {
    font-size: 20px;
  }
  main #trabajos-destacados {
    height: 250vh;
  }
  .img_proyectos {
    flex-direction: column;
  }
  .telefono {
    width: 55%;
  }
  .num-tel {
    font-size: 15px;
  }
  h1.proyectos_destacados {
    font-size: 25px;
  }
  .p-serv {
    font-size: 0.8rem;
    max-width: 180px;
  }
  .h3-servicios {
    font-size: 1rem;
  }
  .sec1 {
    display: flex;
    flex-direction: column;
  }
  .sec2 {
    display: flex;
    flex-direction: column;
  }
  .sec3 {
    display: flex;
    flex-direction: column;
  }
  .sec4 {
    display: flex;
    flex-direction: column;
  }
  .sec5 {
    display: flex;
    flex-direction: column;
  }
  .main-contacto .contenedor-flex .formulario .form {
    margin-right: 70px;
  }
  .main-contacto .contenedor-flex p {
    font-size: 1rem;
  }
  .main-contacto .contenedor-flex .formulario .form input.campo {
    width: 300px;
    height: 70px;
    font-size: 1.2rem;
  }
  .main-contacto .contenedor-flex .formulario .form textarea.campo {
    width: 300px;
    height: 200px;
    font-size: 1.2rem;
  }
  .main-contacto .contenedor-flex .formulario .boton-enviar {
    display: flex;
    justify-content: flex-end;
    width: 320px;
    margin-top: 20px;
  }
  /*servicios*/
  .main-proyectos {
    height: 1000vh;
    background-color: #0E0B16;
    width: 100%;
  }
  .main-proyectos .proyect1 {
    height: 200vh;
  }
  .main-proyectos .proyect1 .imagenes-proyectos {
    display: flex;
    flex-direction: column;
  }
  .main-proyectos .proyect1 .imagenes-proyectos img {
    padding-top: 10px;
  }
  .main-proyectos .proyect2 {
    height: 200vh;
  }
  .main-proyectos .proyect2 .imagenes-proyectos {
    display: flex;
    flex-direction: column;
  }
  .main-proyectos .proyect2 .imagenes-proyectos img {
    padding-top: 10px;
  }
  .main-proyectos .proyect3 {
    height: 200vh;
  }
  .main-proyectos .proyect3 .imagenes-proyectos {
    display: flex;
    flex-direction: column;
  }
  .main-proyectos .proyect3 .imagenes-proyectos img {
    padding-top: 10px;
  }
  .main-proyectos .proyect4 {
    height: 200vh;
  }
  .main-proyectos .proyect4 .imagenes-proyectos {
    display: flex;
    flex-direction: column;
  }
  .main-proyectos .proyect4 .imagenes-proyectos img {
    padding-top: 10px;
  }
  .main-proyectos .proyect5 {
    height: 200vh;
  }
  .main-proyectos .proyect5 .imagenes-proyectos {
    display: flex;
    flex-direction: column;
  }
  .main-proyectos .proyect5 .imagenes-proyectos img {
    padding-top: 10px;
  }
}
@media (max-width: 660px) {
  .desktop a {
    font-size: 0.7rem;
  }
  .img-skils {
    padding: 10px;
  }
  .formulario {
    margin-left: 70px;
    overflow: hidden;
  }
  .contenedor-flex {
    flex-direction: column;
  }
  .main-contacto .contenedor-flex .formulario {
    margin-top: 40px;
  }
  .main-contacto .contenedor-flex p {
    max-width: 410px;
  }
  .main-contacto .contenedor-flex .formulario .form input.campo {
    width: 350px;
    height: 70px;
    font-size: 1.2rem;
  }
  .main-contacto .contenedor-flex .formulario .form textarea.campo {
    width: 350px;
    height: 200px;
    font-size: 1.2rem;
  }
  .main-contacto .contenedor-flex .formulario .boton-enviar {
    width: 300px;
  }
}
@media (max-width: 640px) {
  header {
    display: none;
  }
  main #banner {
    background-image: url(../imagenes/banner_ajuste-mobile-01.png);
  }
  main #trabajos-destacados {
    height: 200vh;
  }
  .contenedor-mayor-icons {
    height: 215vh;
  }
  #main-servicios .contenedor-mayor-icons .contenedor-icon-serv {
    display: flex;
    flex-direction: column;
    height: 210vh;
    justify-content: space-around;
  }
  #main-servicios {
    height: 220vh;
  }
  h4.num-tel {
    font-size: 14px;
  }
  .contenedor-contacto {
    height: 8%;
    width: 100px;
    margin-left: 4%;
  }
  .navbar {
    display: block;
  }
  .contenedor-boton-banner {
    width: 30%;
  }
  footer {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  .main-sobremi {
    height: 200vh;
  }
  .educacion-habilidades {
    flex-direction: column;
  }
  /* .contenedor-skills{
      display: flex;
      flex-direction: column;
  } */
  .contenedor-mayor-skills {
    display: flex;
    flex-direction: column;
  }
  .img-skils {
    height: 100px;
    width: 100px;
  }
  .txt-presentacion-sobremi {
    max-width: 400px;
  }
  .formulario {
    margin-left: 300px;
    overflow: hidden;
  }
  .campo {
    width: 60%;
  }
  .formulario {
    margin-left: 70px;
    overflow: hidden;
  }
  .boton-enviar {
    margin-left: 100px;
  }
  .main-sobremi {
    overflow: auto;
  }
  .txt-presentacion-sobremi {
    font-size: 15px;
  }
  p.colegio {
    font-size: 15px;
  }
  h3.años {
    font-size: 1.2rem;
  }
  footer {
    display: flex;
    flex-direction: column;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
  }
  .iconos {
    padding-top: 20px;
  }
  .input-group {
    padding-top: 20px;
    margin-left: 70px;
  }
  .telefono {
    width: 30%;
    justify-content: space-evenly;
    align-content: center;
  }
}
@media (max-width: 400px) {
  main #presentacion .txt-presentacion .h2-presentacion {
    font-size: 20px;
  }
  main #banner .contenedor-boton-banner {
    width: 40%;
  }
  .main-sobremi .educacion-habilidades {
    padding-top: 100px;
  }
  .main-contacto .contenedor-flex .formulario {
    width: 400px;
  }
  .main-contacto .contenedor-flex p {
    max-width: 300px;
  }
  .main-contacto .contenedor-flex .formulario .form input.campo {
    width: 300px;
    padding-left: 8px;
  }
  .main-contacto .contenedor-flex .formulario .form textarea.campo {
    width: 300px;
    padding-left: 8px;
  }
  .main-contacto .contenedor-flex .formulario .boton-enviar {
    width: 250px;
  }
  .main-proyectos .proyect1 .imagenes-proyectos img {
    width: 300 !important;
  }
}

/*# sourceMappingURL=styles.css.map */
